name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      force_setup:
        description: 'Force server setup'
        type: boolean

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dvassallo/nobrainer.host@v1
        with:
          domain: ${{ secrets.DOMAIN || 'assetstacks.com' }}
          deploy_key: ${{ secrets.DEPLOY_KEY }}
          letsencrypt_email: ${{ secrets.LETSENCRYPT_EMAIL || 'daniel@vassallo.dev' }}
          force_setup: ${{ inputs.force_setup }}
